/* 
 <------------>
 *** Import ***    
      🔽 
 <------------>                                      
*/
/*!    Fonts     */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Spinnaker&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cambo&display=swap");

/* 
 <------------>
 *** Reset *** 
      🔽 
 <------------>                                      
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
 <------------>
 *** Root ***     
      🔽 
 <------------>                                      
*/

:root {
  --bg_white: #fff; /*!  variable  */
  --primary_clr: #202836;
  --btn_bg_clr: #547e69;
  --bg_light: #6c6c6c;
  --font_s: 20px;
  --font_m: 40px;
  --font_l: 60px;
  --primary_font: "Poppins", sans-serif;
}

/* 
 <------------>
 *** Utility ***  
       🔽 
 <------------>                                      
*/
body {
  background-color: var(--primary_clr);
  font-family: var(--primary_font);
}
.container {
  width: 1162px;
  margin: auto;
}

a {
  text-decoration: none;
}
a:hover {
  color: #3a53468c;
}

li {
  list-style-type: none;
}
.s_space {
  margin-top: 4.5rem;
}
.m_space {
  margin-top: 9rem;
}
.btn {
  display: inline-block;
  width: 168px;
  height: 44px;
  align-items: center;
  background-color: var(--btn_bg_clr);
  padding: 0.5rem 1.3rem;
}
.clr {
  clear: both;
}
.icon {
  color: #fff;
  padding: 0 6px;
}
.block {
  display: block;
}
.inline_block {
  display: inline-block;
}
.bg_light {
  color: #eee;
}
.bg_dark {
  color: #444;
}
.py_1 {
  padding: 1rem 0;
}
.py_2 {
  padding: 2rem 0;
}
.py_3 {
  padding: 3rem 0;
}
.my_1 {
  margin: 0.75rem 0;
}
.my_2 {
  margin: 1.25rem 0;
}
hr {
  margin: 20px 0;
  border: 1px solid #ff1541;
}
/* 
 <------------>
 *** Header ***    
       🔽 
 <------------>                                      
*/

header {
  background-color: var(--primary_clr);
  font-family: var(--primary_font);

  height: 591px;
}
/*!  Navigation Menu (navbar)  */

#navbar {
  display: flex;

  height: 48px;
  justify-content: space-between;
  align-items: center;
}
#navbar .menu_list {
  display: flex;
  font-size: var(--font_s);
}
#navbar .menu_list li {
  margin: 0 1.25rem;
}
#navbar .menu_list li:first-child {
  margin: 0;
}
#navbar .menu_list li a,
#navbar .login_btn .login_icon,
#navbar .login_btn a {
  color: var(--bg_white);
}

#navbar .login_btn {
  display: flex;
  width: 133px;
  height: 44px;
  align-items: center;
  padding: 0.5rem 1rem;
}
/*!   ShowCase  Menu */
#showcase {
  display: flex;
  justify-content: start;
}

#showcase .sc_left .left_content {
  width: 485px;
  height: 265px;
  font-weight: 700px;
  line-height: 75px;
  font-size: var(--font_l);
  color: var(--bg_white);
}

#showcase .sc_right {
  width: 60%;
  margin: 12px;
}
#showcase .sc_right {
  display: flex;
}
.img_1 {
  animation: ball 0.6s infinite linear;
  opacity: 1;
}
@keyframes ball {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  50% {
    opacity: 1;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(220px);
  }
}
.img_2 {
  animation: abc 0.5s infinite alternate;
  opacity: 0;
}
@keyframes abc {
  0% {
    opacity: 0;
    transform: translateX(-220px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

#showcase .sc_right img {
  width: 380px;
  height: 400px;
}

/* animation */

/* 
 <------------>
 *** Main ***    
      🔽 
 <------------>                                      
*/
/*!  Players  Section */

#players {
  background-color: var(--primary_clr);
  display: grid;
  grid-template-columns: repeat(3, 300px);
  align-items: center;
  justify-content: center;
  grid-row-gap: 1.6rem;
  grid-column-gap: 1.8rem;
}
#players .player {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 300px;
  height: 430px;
  background: #1a222e;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
  padding: 15px;
}
#players .player img {
  height: 40%;
  margin: auto;
}
#players .player .player_name {
  margin: 10px;
  font-family: "Spinnaker", sans-serif;
  font-size: 22px;
  font-weight: 900;
}
#players .player .player_info {
  color: var(--bg_light);
  line-height: 1.4;
}

/*! Matches Section */

#matches {
  display: flex;
  justify-content: space-between;
}

#matches .matches_left {
  height: 309px;
  width: 469px;
  margin-top: 12px;
}
#matches .matches_left .m_heading {
  font-size: var(--font_m);
  line-height: 60px;
  font-weight: 700;
  margin-bottom: 1rem;
  color: rgb(146, 79, 209);
}
#matches .matches_left p {
  color: var(--bg_light);
}
#matches .matches_left .btn {
  width: 173px;
}
#matches .matches_left a {
  font-size: 16px;
}
#matches .matches_right {
  width: 50%;
}
#matches .matches_right img {
  width: 100%;
}

/*! Features */

#features {
  display: flex;
  justify-content: center;
  align-items: center;
}
#features .feature h2 {
  color: #ff1541;
  margin: 10px 0;
}

/*!  Registration Section */
#register {
  background: rgb(38, 39, 39);
  display: flex;
  height: 340px;
}

#register .rg_left {
  width: 50%;
  position: relative;
}
#register div {
  flex: 1;
}
#register .rg_left img {
  height: 100%;
}
#register .rg_right {
  padding: 30px 25px;
}
#register .rg_right p {
  font-size: 18px;
  color: #5976a7;
}
#register .rg_right h2 {
  color: #fff;
}
#register .rg_right input {
  width: 70%;
  height: 40px;
  display: inline-block;
  margin: 20px 0;
}
#register .rg_right button {
  width: 28%;
  height: 40px;
  background-color: #547e69;
}
#register .rg_right .small_size {
  font-size: 13px;
  color: #525968;
}

/* 
 <------------>
 *** Footer ***    
       🔽
 <------------>                                      
*/
footer {
  background-color: var(--primary_clr);
  height: 600px;
}
footer .top_part {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}
footer .top_part h4 {
  color: #fff;
  font-family: "Cambo", serif;
  font-weight: 900;
}
footer .top_part a {
  display: flex;
  flex-direction: column;
  color: #525968;
  margin: 10px 0;
}
footer .top_part img {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  width: 100px;
}
footer .bottom_part {
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  color: #eee;
  font-family: "Noto Sans", sans-serif;
}
footer .bottom_part .logo {
  width: 483.87px;
  height: 110px;
}
footer .bottom_part .social_icon img {
  width: 22px;
  height: 20px;
  margin: 10px 0;
}

/*?-------------------------------           Media Query    ------------------------------------------    */

/*  as much i can .it was not enough time to gain knowledge in this section ..but In Sha Allah i wii one day..Thank You */

/* Smartphone  */

@media only screen and (max-width: 600px) {
  .container {
    width: 70vw;
  }
  #navbar {
    display: none;
  }

  #showcase {
    flex-direction: column;
    width: 100vw;
  }
  #showcase .sc_left {
    justify-content: center;
    align-items: center;
    padding-left: 30px;
  }
  #showcase .sc_right {
    width: 400px;
    height: 100px;
  }
  #showcase .sc_right img {
    width: 100%;
  }
  #players {
    margin-top: 200px;
    grid-template-columns: repeat(1, 1fr);
  }
  #players .player {
    margin: 0 auto;
  }
  #matches {
    flex-direction: column;
  }
  #matches .matches_left {
    text-align: center;
    width: 90vw;
    margin-bottom: 200px;
  }
  #matches .matches_right {
    width: 100vw;
  }
  #features {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
  #features .feature {
    width: 100vw;
  }
  #features .feature .v {
    width: 100vw;
    background-color: var(--primary_clr);
  }
  #register {
    flex-direction: column;
    width: 100vw;
    height: 700px;
  }
  #register .rg_left {
    width: 100vw;
    background-color: none;
  }
  #register .rg_left img {
    width: 100vw;
  }

  #register .rg_right {
    width: 100vw;
  }
  footer {
    background-color: var(--primary_clr);
    height: 600px;
  }
  footer .top_part {
    width: 100vw;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
  hr {
    width: 80vw;
    margin-left: 40px;
  }

  footer .top_part .logo_us {
    margin-top: 30px;
  }
  footer .bottom_part {
    width: 100vw;
  }
  footer .bottom_part .logo {
    width: 90vw;
    height: 110px;
  }
  footer .bottom_part .social_icon img {
    width: 22px;
    height: 20px;
    margin: 10px 0;
  }
}

/*  Tab  */
@media only screen and (min-width: 601px) and (max-width: 991px) {
  body {
    width: 100vw;
  }
  #navbar {
    display: none;
  }

  #showcase {
    flex-direction: column;
  }
  #showcase .sc_left {
    justify-content: center;
    align-items: center;
    padding-left: 30px;
  }
  #showcase .sc_right {
    width: 400px;
    height: 100px;
  }
  #showcase .sc_right img {
    width: 100%;
  }
  #players {
    margin-top: 200px;
    grid-template-columns: repeat(2, 1fr);
  }

  #matches {
    flex-direction: column;
  }
  #matches .matches_left {
    text-align: center;
    width: 90vw;
    margin-bottom: 200px;
  }
  #matches .matches_right {
    width: 100vw;
  }
  #features {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
  #features .feature {
    width: 100vw;
  }
  #features .feature .v {
    width: 100vw;
    background-color: var(--primary_clr);
  }
  #register {
    flex-direction: column;
    width: 100vw;
    height: 700px;
  }
  #register .rg_left {
    width: 100vw;
    background-color: none;
  }
  #register .rg_left img {
    width: 100vw;
  }

  #register .rg_right {
    width: 100vw;
  }
  footer {
    background-color: var(--primary_clr);
    height: 600px;
  }
  footer .top_part {
    padding: 35px;
    width: 100vw;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
  hr {
    width: 80vw;
    margin: 0 auto;
  }

  footer .top_part .logo_us {
    margin-top: 30px;
  }
  footer .bottom_part {
    width: 100vw;
  }
  footer .bottom_part .logo {
    width: 90vw;
    height: 110px;
  }
  footer .bottom_part .social_icon img {
    width: 22px;
    height: 20px;
    margin: 10px 0;
  }
}
